<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <h1>TecnoBlog<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/home" id="home" [ngClass]="{'active': windowLocation == '/home'}">Home</a></li>
        <li><a href="/sobre" id="about" [ngClass]="{'active': windowLocation == '/sobre'}">Sobre Nós</a></li>
        <li><a href="/blog" id="blog" [ngClass]="{'active': windowLocation == '/blog'}">Blog</a></li>
        <li *ngIf="logado"><a href="/home" id="logout" (click)="deslogar()">Logout</a></li>
      </ul>
    </nav>

  </div>
</header>
