<body>
  <app-header></app-header>

  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bem vindo ao <span>TecnoBlog</span></h2>
            <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="/blog" class="btn-get-started">Blog</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(assets/img/carousel/carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/carousel/carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/carousel/carousel-3.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">

        <div class=" section-header">
          <h2>Últimas Postagens</h2>
          <p>Confira nossas últimas noticias, sempre se mantenha informado(a)!</p>
        </div>

        <div class="row gy-5">

          <div *ngFor="let noticia of noticias | async" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img [src]="noticia.imagem" class="img-fluid" alt="">
                <span class="post-date">{{ noticia.data }}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{ noticia.titulo }}</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{ noticia.autor }}</span>
                  </div>
                  <!-- <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                  </div> -->
                </div>

                <hr>

                <a [routerLink]="['/blog', noticia.id]" class="readmore stretched-link"><span>Leia mais</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>


