<body class="toggle-sidebar">

  <!-- ======= Header ======= -->

  <main id="main" class="main mt-0" style="height: 100vh">

    <section class="section dashboard">

      <div class="container-fluid">
        <div class="row pt-5">
          <div class="col-md-8">
            <form>

              <div class="row">

                <div class="col-md-6 position-relative mb-2">
                  <label for="validationTooltip01" class="form-label">Titulo da Noticia</label>
                  <input type="text" class="form-control" id="validationTooltip01" name="titulo" [(ngModel)]="newNoticia.titulo" required>
                </div>

                <div class="col-md-6 position-relative mb-2">
                  <label for="validationTooltip02" class="form-label">Autor da Noticia</label>
                  <input type="text" class="form-control" id="validationTooltip02" name="autor" [(ngModel)]="newNoticia.autor" required>
                </div>

              </div>

              <div class="col-md-12 position-relative mb-2">
                <label for="validationTooltip03" class="form-label">Descrição</label>
                <textarea class="form-control" id="validationTooltip03" aria-label="With textarea" [(ngModel)]="newNoticia.descricao"></textarea>
              </div>

              <div class="mb-3">
                <label for="imagem" class="form-label">Foto de Capa</label>
                <input class="form-control" type="file" id="imagem">
              </div>

              <div class="form-group">
                <label for="editor"><h3>Editor</h3></label>
                <quill-editor></quill-editor>
              </div>

              <button class="btn btn-primary float-end m-2" >Enviar</button>
              <a href="/admin/dashboard"><button class="btn btn-secondary float-end m-2">Voltar</button></a>

            </form>
          </div>
        </div>
      </div>

    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
