<body class="toggle-sidebar">

  <!-- ======= Header ======= -->

  <main id="main" class="main mt-0" style="height: 100vh">

    <section class="section dashboard">

      <div class="container-fluid">
        <div class="row pt-5">
          <div class="col-md-12">
            <form>

              <div class="row">

                <div class="col-md-6 offset-md-3">
                  <label for="validationTooltip01" class="form-label">Titulo da Noticia</label>
                  <input type="text" class="form-control" id="validationTooltip01" name="titulo" [(ngModel)]="noticia.titulo" required>
                </div>

                <div class="col-md-6 offset-md-3">
                  <label for="validationTooltip02" class="form-label">Autor da Noticia</label>
                  <input type="text" class="form-control" id="validationTooltip02" name="autor" [(ngModel)]="noticia.autor" required>
                </div>

                <div class="col-md-6 offset-md-3">
                  <label for="validationTooltip03" class="form-label">Descrição</label>
                  <textarea class="form-control" id="validationTooltip03" aria-label="With textarea" name="descricao" [(ngModel)]="noticia.descricao"></textarea>
                </div>

                <div class="col-md-6 offset-md-3">
                  <label for="imagem" class="form-label">Foto de Capa</label>
                  <input class="form-control" type="file" id="imagem">
                </div>

                <div class="col-md-6 offset-md-3 mt-2">
                  <label for="editor" class="form-label"><h3>Editor</h3></label>
                  <quill-editor (onEditorChanged)="changeEditor($event)"></quill-editor>
                </div>

                <div class="col-md-6 offset-md-3 mt-2 btn-group">
                  <button class="btn btn-primary float-end" (click)="updateNoticia()">Enviar</button>
                  <button class="btn btn-secondary float-end" routerLink="/admin/dashboard">Voltar</button>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>

    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
